@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  font-family: "Orbitron", sans-serif; /* Apply the Orbitron font to the entire body */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  gap: 4rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}

button {
  background-color: #008cba;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

.result-container button:hover {
  background-color: #06759a;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.player-score,
.computer-score {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
